<div class="col-md-4">
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    <div class="card mb-4 shadow-sm">
        <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
        <div class="card-body"><%= portfolio_item.subtitle %>
            <p class="card-text"><%= portfolio_item.body %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <%= link_to 'Delete Item', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %> |
                    <%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>
                </div>
                <small class="text-muted"><%= link_to 'Create New Item', new_portfolio_path if logged_in?(:site_admin) %>
                </small>
            </div>
        </div>
    </div>
</div>