<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
   <meta name="keywords" content= "<%= @seo_keywords %>" />
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# from views/shared/_nav.html.erb %>
    <%= render "shared/nav", location: 'top' %>

    <%# from application_helper.rb %>
    <%= login_helper %> 

    <%# from application_helper.rb %>
    <%= source_helper("application") %> 

    <%= yield %>
      
  </body>
</html>
